Repository sunnybharne/bicep-module-registry: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/acr-pipeline-iac.yaml, pipelines/bicep-module-publish.yaml, pipelines/resource-publish.yaml, pipelines/service-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

Path conditions:
  pipelines/acr-pipeline-iac.yaml: any of: infra/acr, pipelines/acr-pipeline-iac.yaml
  pipelines/bicep-module-publish.yaml: any of: pipelines
  pipelines/resource-publish.yaml: any of: modules/resources/*.bicep
  pipelines/service-publish.yaml: any of: modules/resources
  pipelines/test-pipeline-trigger-module-build.yaml: any file but: modules
  pipelines/trigger-module-build.yaml: any file but: modules

testing
  modules/resources/resouce-group/metadata.json
  modules/resources/resouce-group/resource-group.bicep
Due: pipelines/service-publish.yaml

testing
  modules/resources/resouce-group/resource-group.bicep
  pipelines/scripts/main.ps1
Due: pipelines/bicep-module-publish.yaml, pipelines/service-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

testing
  modules/resources/resouce-group/resource-group.bicep
  modules/resources/sdtartedtrestmodules.bicep
  pipelines/resource-publish.yaml
  pipelines/scripts/main.ps1
Due: pipelines/bicep-module-publish.yaml, pipelines/resource-publish.yaml, pipelines/service-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

testing
  modules/resources/startedtreher-modules.bicep
Due: pipelines/resource-publish.yaml, pipelines/service-publish.yaml

testing
  modules/resources/startedtrestmodules.bicep
Due: pipelines/resource-publish.yaml, pipelines/service-publish.yaml

testing
  modules/resources/resouce-group/resource-group.bicep
  pipelines/resource-publish.yaml
Due: pipelines/bicep-module-publish.yaml, pipelines/service-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

testing
  modules/resources/resouce-group/startedtreher-modules.bicep
Due: pipelines/service-publish.yaml

testing
  modules/resources/resouce-group/resource-group.bicep
  pipelines/resource-publish.yaml
  pipelines/scripts/main.ps1
Due: pipelines/bicep-module-publish.yaml, pipelines/service-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

testing
  modules/resources/resouce-group/resource-group.bicep
Due: pipelines/service-publish.yaml

testting
  modules/resources/resouce-group/resource-group.bicep
  modules/resources/resouce-group/startedtreher-modules.bicep
  pipelines/scripts/main.ps1
Due: pipelines/bicep-module-publish.yaml, pipelines/service-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

testing
  modules/resources/sdtartedtrestmodules.bicep
  modules/resources/startedtreher-modules.bicep
  modules/resources/startedtresmeother-modules.bicep
  modules/resources/startedtrestmodules.bicep
Due: pipelines/resource-publish.yaml, pipelines/service-publish.yaml

testing
  pipelines/scripts/main.ps1
Due: pipelines/bicep-module-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

testing
  modules/resources/vnet/metadata.json
  modules/resources/vnet/resource-group.bicep
Due: pipelines/service-publish.yaml

testing
  modules/resources/resouce-group/metadata.json
  modules/resources/resouce-group/resource-group.bicep
  modules/resources/vnet/metadata.json
Due: pipelines/service-publish.yaml

testing
  modules/resources/resouce-group/metadata.json
  modules/resources/resouce-group/resource-group.bicep
  modules/resources/vnet/metadata.json
  modules/resources/vnet/resource-group.bicep
Due: pipelines/service-publish.yaml

testing
  modules/resources/someResource/metadata.json
  modules/resources/someResource/resource-group.bicep
  modules/resources/use.bicep
  modules/services/use-modules.bicep
Due: pipelines/resource-publish.yaml, pipelines/service-publish.yaml

testing
  modules/resources/resouce-group/metadata.json
  modules/resources/someResource/metadata.json
  modules/resources/someResource/resource-group.bicep
  modules/resources/vnet/metadata.json
Due: pipelines/service-publish.yaml

testing
  modules/resources/use.bicep
Due: pipelines/resource-publish.yaml, pipelines/service-publish.yaml

testing
  modules/resources/someResource/resource-group.bicep
Due: pipelines/service-publish.yaml

testing
  modules/resources/some-resource/metadata.json
  modules/resources/some-resource/resource-group.bicep
Due: pipelines/service-publish.yaml

testing
  modules/resources/some/metadata.json
  modules/resources/some/resource-group.bicep
Due: pipelines/service-publish.yaml

testing
  modules/resources/resouce-group/metadata.json
  modules/resources/resouce-group/resource-group.bicep
  modules/resources/some-resource/metadata.json
  modules/resources/some-resource/resource-group.bicep
  modules/resources/some/metadata.json
  modules/resources/some/resource-group.bicep
  modules/resources/vnet/metadata.json
  modules/resources/vnet/resource-group.bicep
Due: pipelines/service-publish.yaml

testing
  pipelines/resource-publish.yaml
Due: pipelines/bicep-module-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml
