Repository sunnybharne/bicep-module-registry: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/acr-pipeline-iac.yaml, pipelines/bicep-module-publish.yaml, pipelines/resource-publish.yaml, pipelines/service-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

pipelines/acr-pipeline-iac.yaml:
  name: acr-infra-pipeline
  pool:
    name: selfhosted
  stages:
  - stage: null
    displayName: acr pipeline
    jobs:
    - job: deploy_acr
      displayName: deploy acr
      steps:
      - task: AzureCLI@2
        inputs:
          displayName: Deploying azure container registry
  ...

pipelines/bicep-module-publish.yaml:
  name: Bicep Module Publish
  pool:
    name: selfhosted
  jobs:
  - job: null
    displayName: Push Modules
    steps:
    - task: AzurePowerShell@5
      inputs:
        azureSubscription: ${{ parameters.azureServiceConnection }}
        scriptType: filePath
  ...

pipelines/resource-publish.yaml:
  name: Resource Module Publish
  pool:
    name: selfhostedvm
  jobs:
  - job: null
    displayName: Push Resource Modules
    steps:
    - checkout: self
      clean: true
      fetchDepth: 2
      persistCredentials: true
      displayName: Git checkout
  ...

pipelines/service-publish.yaml:
  name: Bicep Module Publish
  pool:
    name: selfhosted
  jobs:
  - job: null
    displayName: Push Modules
    steps:
    - checkout: self
      clean: true
      fetchDepth: 1
      persistCredentials: true
      displayName: Get checkout
    - task: AzurePowerShell@5
      displayName: Git diff on modules
      inputs:
  ...

pipelines/test-pipeline-trigger-module-build.yaml:
  pool:
    name: selfhosted
  jobs:
  - job: bicep_build
    steps:
    - checkout: self
      persistCredentials: true
      clean: true
      fetchDepth: 0
    - task: AzurePowerShell@5
      name: bicepBuildTrigger
      env:
        SYSTEM_ACCESSTOKEN: $(System.AccessToken)
      inputs:
  ...

pipelines/trigger-module-build.yaml:
  pool:
    name: selfhosted
  jobs:
  - job: bicep_build
    steps:
    - script: "echo 'testing script'\nls \npwd \necho 'pwd done'\necho 'echo SourceDirectory'\necho $(Build.SourceDirectory)\necho 'System Access Token'\necho $(System.AccessToken)\n"
    - checkout: self
      persistantCredential: true
  ...

testing
  pipelines/resource-publish.yaml
Due: pipelines/bicep-module-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

tesin
  pipelines/resource-publish.yaml
Due: pipelines/bicep-module-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

testing
  infra/acr/modules/containerRegistry.bicep
  pipelines/resource-publish.yaml
  pipelines/templates/install-tools.yml
Due: pipelines/acr-pipeline-iac.yaml, pipelines/bicep-module-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

testong
  pipelines/resource-publish.yaml
Due: pipelines/bicep-module-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

tesign
  pipelines/templates/install-tools.yml
Due: pipelines/bicep-module-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

testing
  pipelines/resource-publish.yaml
  pipelines/templates/install-tools.yml
Due: pipelines/bicep-module-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

testing
  pipelines/templates/install-tools.yml
Due: pipelines/bicep-module-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

testing
  pipelines/scripts/main.ps1
Due: pipelines/bicep-module-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

testign
  modules/resources/resouce-group/metadata.json
  modules/resources/resouce-group/resource-group.bicep
Due: pipelines/resource-publish.yaml, pipelines/service-publish.yaml

testing
  modules/resources/resouce-group/metadata.json
  modules/resources/resouce-group/resource-group.bicep
  pipelines/scripts/main.ps1
Due: pipelines/bicep-module-publish.yaml, pipelines/resource-publish.yaml, pipelines/service-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

testing
  modules/resources/resouce-group/metadata.json
  modules/resources/resouce-group/resource-group.bicep
Due: pipelines/resource-publish.yaml, pipelines/service-publish.yaml

testing
  infra/acr/main.bicep
  infra/acr/modules/acrVnet.bicep
  infra/acr/parameters/main.acr.bicepparam
Due: pipelines/acr-pipeline-iac.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

testing
  pipelines/acr-pipeline-iac.yaml
Due: pipelines/acr-pipeline-iac.yaml, pipelines/bicep-module-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

tesing
  pipelines/acr-pipeline-iac.yaml
Due: pipelines/acr-pipeline-iac.yaml, pipelines/bicep-module-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

testing
  infra/acr/main.bicep
Due: pipelines/acr-pipeline-iac.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

testng
  infra/acr/modules/containerRegistry.bicep
Due: pipelines/acr-pipeline-iac.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

testing
  infra/acr/main.bicep
  infra/acr/modules/privateEndpoint.bicep
  infra/acr/parameters/main.acr.bicepparam
Due: pipelines/acr-pipeline-iac.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

testing
  infra/acr/parameters/main.acr.bicepparam
Due: pipelines/acr-pipeline-iac.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

testig
  infra/acr/main.bicep
Due: pipelines/acr-pipeline-iac.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

testing
  infra/acr/modules/acrVnet.bicep
Due: pipelines/acr-pipeline-iac.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

testing
  infra/acr/modules/privateEndpoint.bicep
Due: pipelines/acr-pipeline-iac.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

Path conditions:
  pipelines/acr-pipeline-iac.yaml: any of: infra/acr, pipelines/acr-pipeline-iac.yaml
  pipelines/bicep-module-publish.yaml: any of: pipelines
  pipelines/resource-publish.yaml: any of: modules/resources/*/*.bicep
  pipelines/service-publish.yaml: any of: modules/resources
  pipelines/test-pipeline-trigger-module-build.yaml: any file but: modules
  pipelines/trigger-module-build.yaml: any file but: modules
