Repository sunnybharne/bicep-module-registry: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/acr-pipeline-iac.yaml, pipelines/bicep-module-publish.yaml, pipelines/resource-publish.yaml, pipelines/service-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

Path conditions:
  pipelines/acr-pipeline-iac.yaml: any of: infra/acr, pipelines/acr-pipeline-iac.yaml
  pipelines/bicep-module-publish.yaml: any of: pipelines
  pipelines/resource-publish.yaml: any of: modules/resources/*/*.bicep
  pipelines/service-publish.yaml: any of: modules/resources
  pipelines/test-pipeline-trigger-module-build.yaml: any file but: modules
  pipelines/trigger-module-build.yaml: any file but: modules

testing
  infra/acr/modules/privateEndpoint.bicep
Due: pipelines/acr-pipeline-iac.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

tesong
  infra/acr/modules/privateEndpoint.bicep
Due: pipelines/acr-pipeline-iac.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

tesing
  infra/acr/main.bicep
  infra/acr/modules/privateEndpoint.bicep
Due: pipelines/acr-pipeline-iac.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

testing
  infra/acr/main.bicep
  infra/acr/modules/privateEndpoint.bicep
Due: pipelines/acr-pipeline-iac.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

cteating
  infra/acr/modules/privateEndpoint.bicep
Due: pipelines/acr-pipeline-iac.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

testing
  pipelines/acr-pipeline-iac.yaml
Due: pipelines/acr-pipeline-iac.yaml, pipelines/bicep-module-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

commiting to fix branch
  readme.md
Due: pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

added commit from fix
  readme.md
Due: pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

Update readme.md
  readme.md
Due: pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

added notdirect
  readme.md
Due: pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

added metadata.json
  modules/resources/resouce-group/metadata.json
  modules/resources/resouce-group/resource-group.bicep
Due: pipelines/resource-publish.yaml, pipelines/service-publish.yaml

testing
  pipelines/modules-trigger.yaml
Due: pipelines/bicep-module-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

tesitntg
  pipelines/modules-trigger.yaml
Due: pipelines/bicep-module-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml
