Repository sunnybharne/bicep-module-registry: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/bicep-module-publish.yaml, pipelines/resource-publish.yaml, pipelines/service-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

pipelines/bicep-module-publish.yaml:
  name: Bicep Module Publish
  pool:
    name: selfhosted
  jobs:
  - job: null
    displayName: Push Modules
    steps:
    - task: AzurePowerShell@5
      inputs:
        azureSubscription: ${{ parameters.azureServiceConnection }}
        scriptType: filePath
  ...

pipelines/resource-publish.yaml:
  name: Resource Module Publish
  pool:
    name: selfhosted
  jobs:
  - job: null
    displayName: Push Resource Modules
    steps:
    - checkout: self
      clean: true
      fetchDepth: 2
      persistCredentials: true
      displayName: Get checkout
    - task: AzurePowerShell@5
  ...

pipelines/service-publish.yaml:
  name: Bicep Module Publish
  pool:
    name: selfhosted
  jobs:
  - job: null
    displayName: Push Modules
    steps:
    - checkout: self
      clean: true
      fetchDepth: 1
      persistCredentials: true
      displayName: Get checkout
    - task: AzurePowerShell@5
      displayName: Git diff on modules
      inputs:
  ...

pipelines/test-pipeline-trigger-module-build.yaml:
  pool:
    name: selfhosted
  jobs:
  - job: bicep_build
    steps:
    - checkout: self
      persistCredentials: true
      clean: true
      fetchDepth: 0
    - task: AzurePowerShell@5
      name: bicepBuildTrigger
      env:
        SYSTEM_ACCESSTOKEN: $(System.AccessToken)
      inputs:
  ...

pipelines/trigger-module-build.yaml:
  pool:
    name: selfhosted
  jobs:
  - job: bicep_build
    steps:
    - script: "echo 'testing script'\nls \npwd \necho 'pwd done'\necho 'echo SourceDirectory'\necho $(Build.SourceDirectory)\necho 'System Access Token'\necho $(System.AccessToken)\n"
    - checkout: self
      persistantCredential: true
  ...

testing
  modules/resources/startedtreher-modules.bicep
  modules/resources/startedtresmeother-modules.bicep
  pipelines/scripts/main.ps1
Due: pipelines/bicep-module-publish.yaml, pipelines/resource-publish.yaml, pipelines/service-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

testing
  modules/resources/startedtreher-modules.bicep
  pipelines/scripts/main.ps1
Due: pipelines/bicep-module-publish.yaml, pipelines/resource-publish.yaml, pipelines/service-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

testing
  modules/resources/sdtartedtrestmodules.bicep
  modules/resources/startedtreher-modules.bicep
  pipelines/scripts/main.ps1
Due: pipelines/bicep-module-publish.yaml, pipelines/resource-publish.yaml, pipelines/service-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

testing
  modules/resources/sdtartedtrestmodules.bicep
  pipelines/scripts/main.ps1
Due: pipelines/bicep-module-publish.yaml, pipelines/resource-publish.yaml, pipelines/service-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

testing
  modules/resources/sdtartedtrestmodules.bicep
  pipelines/scripts/Get-ChangedFiles.ps1
  pipelines/scripts/main.ps1
Due: pipelines/bicep-module-publish.yaml, pipelines/resource-publish.yaml, pipelines/service-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

testing
  modules/resources/sdtartedtrestmodules.bicep
  modules/resources/startedtreher-modules.bicep
  modules/resources/startedtresmeother-modules.bicep
Due: pipelines/resource-publish.yaml, pipelines/service-publish.yaml

testing
  modules/resources/sdtartedtrestmodules.bicep
  pipelines/scripts/Get-PublishTarget.ps1
  pipelines/scripts/main.ps1
Due: pipelines/bicep-module-publish.yaml, pipelines/resource-publish.yaml, pipelines/service-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

testing
  modules/resources/sdtartedtrestmodules.bicep
  modules/resources/startedtreher-modules.bicep
  modules/resources/startedtresmeother-modules.bicep
  modules/resources/startedtrestmodules.bicep
Due: pipelines/resource-publish.yaml, pipelines/service-publish.yaml

testing
  modules/resources/sdtartedtrestmodules.bicep
  modules/resources/startedtreher-modules.bicep
  modules/resources/startedtresmeother-modules.bicep
  modules/resources/startedtrestmodules.bicep
  pipelines/scripts/main.ps1
Due: pipelines/bicep-module-publish.yaml, pipelines/resource-publish.yaml, pipelines/service-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

testing
  modules/resources/startedtreher-modules.bicep
  modules/resources/startedtresmeother-modules.bicep
  modules/resources/startedtrestmodules.bicep
  pipelines/resource-publish.yaml
Due: pipelines/bicep-module-publish.yaml, pipelines/resource-publish.yaml, pipelines/service-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

testing
  modules/resources/sdtartedtrestmodules.bicep
  modules/resources/startedtreher-modules.bicep
  modules/resources/startedtresmeother-modules.bicep
  pipelines/resource-publish.yaml
Due: pipelines/bicep-module-publish.yaml, pipelines/resource-publish.yaml, pipelines/service-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

testing
  modules/resources/startedtrestmodules.bicep
Due: pipelines/resource-publish.yaml, pipelines/service-publish.yaml

testing
  modules/resources/startedtrestmodules.bicep
  pipelines/resource-publish.yaml
Due: pipelines/bicep-module-publish.yaml, pipelines/resource-publish.yaml, pipelines/service-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

testing
  modules/resources/startedtrestmodules.bicep
  pipelines/scripts/main.ps1
Due: pipelines/bicep-module-publish.yaml, pipelines/resource-publish.yaml, pipelines/service-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

testing
  modules/resources/startedtreher-modules.bicep
  modules/resources/startedtrestmodules.bicep
Due: pipelines/resource-publish.yaml, pipelines/service-publish.yaml

testing
  modules/resources/startedtrestmodules.bicep
  pipelines/resource-publish.yaml
  pipelines/scripts/main.ps1
Due: pipelines/bicep-module-publish.yaml, pipelines/resource-publish.yaml, pipelines/service-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

testing
  infra/acr/main.bicep
Due: pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

testing
  infra/acr/modules/containerRegistry.bicep
Due: pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

testing
  modules/resources/sdtartedtrestmodules.bicep
  modules/resources/startedtreher-modules.bicep
  modules/resources/startedtresmeother-modules.bicep
  modules/resources/startedtrestmodules.bicep
  pipelines/resource-publish.yaml
Due: pipelines/bicep-module-publish.yaml, pipelines/resource-publish.yaml, pipelines/service-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

testing
  modules/resources/sdtartedtrestmodules.bicep
  pipelines/acr-pipeline-iac.yaml
Due: pipelines/bicep-module-publish.yaml, pipelines/resource-publish.yaml, pipelines/service-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

testing
  modules/resources/sdtartedtrestmodules.bicep
Due: pipelines/resource-publish.yaml, pipelines/service-publish.yaml

Path conditions:
  pipelines/bicep-module-publish.yaml: any of: pipelines
  pipelines/resource-publish.yaml: any of: modules/resources/*.bicep
  pipelines/service-publish.yaml: any of: modules/resources
  pipelines/test-pipeline-trigger-module-build.yaml: any file but: modules
  pipelines/trigger-module-build.yaml: any file but: modules
