Repository sunnybharne/bicep-module-registry: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/bicep-module-publish.yaml, pipelines/service-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

Path conditions:
  pipelines/bicep-module-publish.yaml: any of: pipelines
  pipelines/service-publish.yaml: any of: modules/resources
  pipelines/test-pipeline-trigger-module-build.yaml: any file but: modules
  pipelines/trigger-module-build.yaml: any file but: modules

testing
  modules/resources/startedtrest-someother-modules.bicep
  modules/resources/testr-rg-modules.bicep
  pipelines/scripts/check-get-diff.ps1
Due: pipelines/bicep-module-publish.yaml, pipelines/service-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

testing
  pipelines/scripts/Get-Git-Diff-Files.ps1
  pipelines/scripts/check-get-diff.ps1
Due: pipelines/bicep-module-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

testing
  modules/resources/startedtrest-someother-modules.bicep
  modules/resources/testr-rg-modules.bicep
Due: pipelines/service-publish.yaml

testing
  modules/resources/testr-rg-modules.bicep
  pipelines/resource-publish.yaml
  pipelines/scripts/Get-Git-Diff-Files.ps1
Due: pipelines/bicep-module-publish.yaml, pipelines/service-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

testing
  pipelines/resource-publish.yaml
Due: pipelines/bicep-module-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

tesitng
  modules/resources/startedtrest-someother-modules.bicep
  modules/resources/testr-rg-modules.bicep
Due: pipelines/service-publish.yaml

testing
  modules/products/startedtrestmodules.bicep
  pipelines/resource-publish.yaml
Due: pipelines/bicep-module-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

testing
  modules/resources/startedtrestmodules.bicep
Due: pipelines/service-publish.yaml

tesing
  modules/resources/startedtrest-someother-modules.bicep
Due: pipelines/service-publish.yaml

testing
  modules/resources/sdtartedtrestmodules.bicep
  modules/resources/testr-rdg-modules.bicep
Due: pipelines/service-publish.yaml

testing
  modules/resources/tartedtrestmodulesdsd.bicep
  modules/resources/testr-rdg-dsdsmodules.bicep
  modules/resources/testr-rg-dsdsdmodules.bicep
Due: pipelines/service-publish.yaml

testing
  modules/resources/testr-rdg-dsdsmodules.bicep
  modules/resources/testr-rdg-modules.bicep
  modules/resources/testr-rg-dsdsdmodules.bicep
  modules/resources/testr-rg-modules.bicep
Due: pipelines/service-publish.yaml

testing
  modules/resources/tadrtedtrestmodulesdsd.bicep
Due: pipelines/service-publish.yaml

testing
  pipelines/scripts/Call-GetChangedFiles.ps1
  pipelines/scripts/check-get-diff.ps1
Due: pipelines/bicep-module-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

testing
  modules/resources/startedtresmeother-modules.bicep
  modules/resources/tadrtedtrestmodulesdsd.bicep
  modules/resources/tartedtrestmodulesdsd.bicep
Due: pipelines/service-publish.yaml

testing
  modules/resources/startedtreher-modules.bicep
  pipelines/resource-publish.yaml
Due: pipelines/bicep-module-publish.yaml, pipelines/service-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

tesitng
  pipelines/resource-publish.yaml
  pipelines/scripts/Get-ChangedFiles.ps1
  pipelines/scripts/Get-PublishTarget.ps1
  pipelines/scripts/check-get-diff.ps1
Due: pipelines/bicep-module-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

testing
  modules/resources/sdtartedtrestmodules.bicep
  modules/resources/startedtreher-modules.bicep
  pipelines/scripts/Get-PublishTarget.ps1
  pipelines/scripts/check-get-diff.ps1
Due: pipelines/bicep-module-publish.yaml, pipelines/service-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

testing
  modules/resources/startedtresmeother-modules.bicep
  modules/resources/startedtrestmodules.bicep
  pipelines/resource-publish.yaml
  pipelines/scripts/main.ps1
Due: pipelines/bicep-module-publish.yaml, pipelines/service-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

testing
  modules/resources/sdtartedtrestmodules.bicep
  pipelines/scripts/main.ps1
Due: pipelines/bicep-module-publish.yaml, pipelines/service-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

tesitng
  modules/resources/startedtreher-modules.bicep
  pipelines/scripts/main.ps1
Due: pipelines/bicep-module-publish.yaml, pipelines/service-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

testing
  modules/resources/startedtrestmodules.bicep
  pipelines/scripts/main.ps1
Due: pipelines/bicep-module-publish.yaml, pipelines/service-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

testiong
  modules/resources/startedtreher-modules.bicep
  pipelines/scripts/main.ps1
Due: pipelines/bicep-module-publish.yaml, pipelines/service-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

tesin
  modules/resources/sdtartedtrestmodules.bicep
  pipelines/scripts/main.ps1
Due: pipelines/bicep-module-publish.yaml, pipelines/service-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

testing
  modules/resources/startedtreher-modules.bicep
  pipelines/scripts/main.ps1
Due: pipelines/bicep-module-publish.yaml, pipelines/service-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

testinf
  modules/resources/sdtartedtrestmodules.bicep
  pipelines/scripts/main.ps1
Due: pipelines/bicep-module-publish.yaml, pipelines/service-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

testimg
  pipelines/scripts/main.ps1
Due: pipelines/bicep-module-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml

testimg
  modules/resources/startedtrestmodules.bicep
Due: pipelines/service-publish.yaml

testimg
  modules/resources/startedtrestmodules.bicep
  pipelines/scripts/main.ps1
Due: pipelines/bicep-module-publish.yaml, pipelines/service-publish.yaml, pipelines/test-pipeline-trigger-module-build.yaml, pipelines/trigger-module-build.yaml
